<!-- STYLES -->

<!-- General Style -->
<%- include('../layouts/styles') -%>

    <!-- Custom style for only this page starts -->
    <link href="../public/vendor/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    <!-- Custom style for only this page ends -->

    </head>

    <body>

        <!-- Preloader start -->
        <%- include('../layouts/preloader') -%>

            <!-- Main wrapper start -->
            <div id="main-wrapper">

                <!-- Nav header start -->
                <%- include('../layouts/nav-header') -%>

                    <!-- Sidebar start -->
                    <%- include('../layouts/sidebar') -%>

                        <!-- Content body start -->
                        <div class="content-body">
                            <div class="container-fluid">
                                <!-- Page content starts -->

                                <!-- Cards -->
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="stat-widget-two card-body">
                                                <div class="stat-content">
                                                    <div class="stat-text">Students</div>
                                                    <div class="stat-digit">500</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="stat-widget-two card-body">
                                                <div class="stat-content">
                                                    <div class="stat-text">Teachers</div>
                                                    <div class="stat-digit">203</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="stat-widget-two card-body">
                                                <div class="stat-content">
                                                    <div class="stat-text">Parents</div>
                                                    <div class="stat-digit">117</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="stat-widget-two card-body">
                                                <div class="stat-content">
                                                    <div class="stat-text">New Students</div>
                                                    <div class="stat-digit">152</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Statistics -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">All Exam Result</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table student-data-table m-t-20">
                                                        <thead>
                                                            <tr>
                                                                <th>Subject</th>
                                                                <th>Grade Point</th>
                                                                <th>Percent Form</th>
                                                                <th>Percent Upto</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>Mathmatics</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>Mathmatics</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>English</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>Bangla</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>Mathmatics</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>English</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Class Test</td>
                                                                <td>Mathmatics</td>
                                                                <td>
                                                                    4.00
                                                                </td>
                                                                <td>
                                                                    95.00
                                                                </td>
                                                                <td>
                                                                    100
                                                                </td>
                                                                <td>20/04/2017</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Calendar -->
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-intro-title">Calendar</h4>

                                                <div class="">
                                                    <div id="external-events" class="my-3">
                                                        <p>Drag and drop your event or click in the calendar</p>
                                                        <div class="external-event" data-class="bg-primary"><i class="fa fa-move"></i>New Theme Release</div>
                                                        <div class="external-event" data-class="bg-success"><i class="fa fa-move"></i>My Event
                                                        </div>
                                                        <div class="external-event" data-class="bg-warning"><i class="fa fa-move"></i>Meet manager</div>
                                                        <div class="external-event" data-class="bg-dark"><i class="fa fa-move"></i>Create New theme</div>
                                                    </div>
                                                    <!-- checkbox -->
                                                    <div class="checkbox checkbox-event pt-3 pb-5">
                                                        <input id="drop-remove" class="styled-checkbox" type="checkbox">
                                                        <label class="ml-2 mb-0" for="drop-remove">Remove After Drop</label>
                                                    </div>
                                                    <a href="javascript:void()" data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-event w-100">
                                                        <span class="align-middle"><i class="ti-plus"></i></span> Create New
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="calendar" class="app-fullcalendar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- BEGIN MODAL -->
                                    <div class="modal fade none-border" id="event-modal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title"><strong>Add New Event</strong></h4>
                                                </div>
                                                <div class="modal-body"></div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                                                    event</button>

                                                    <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal Add Category -->
                                    <div class="modal fade none-border" id="add-category">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title"><strong>Add a category</strong></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label class="control-label">Category Name</label>
                                                                <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="control-label">Choose Category Color</label>
                                                                <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                                <option value="success">Success</option>
                                                                <option value="danger">Danger</option>
                                                                <option value="info">Info</option>
                                                                <option value="pink">Pink</option>
                                                                <option value="primary">Primary</option>
                                                                <option value="warning">Warning</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Page content ends -->
                            </div>
                        </div>
                        <!-- Content body end -->


                        <!-- Footer start -->
                        <%- include('../layouts/footer') -%>
            </div>
            <!-- Main wrapper end -->

            <!-- SCRIPTS -->

            <!-- General Script -->
            <%- include('../layouts/scripts') -%>

                <!-- Custom script for only this page starts -->
                <script src="../public/vendor/jqueryui/js/jquery-ui.min.js"></script>
                <script src="../public/vendor/moment/moment.min.js"></script>

                <script src="../public/vendor/fullcalendar/js/fullcalendar.min.js"></script>
                <script src="../public/js/plugins-init/fullcalendar-init.js"></script>
                <!-- Custom script for only this page ends -->



    </body>

    </html>